body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}
